body {
    background-color: #dddddd;
}

nav {
    display: inline-flex;
    width: 100%;
    background-color:#cccccc;
}

#myNavbar {
    justify-content: flex-end;
}

nav .navbar-nav li a{
    color: black;
    float: right;
}

.img-rounded {
    width: 100%;
    height: auto;
    float: left;
    padding: 10px;
    
}

.words {
    padding-top: 10px;
    font-family: fantasy;
}

.img-responsive {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border: 5px solid yellow;
}

.work, .food, .password, .planner, .refactor {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: fantasy;
    color: black;
}

p {
    text-indent: 30px;
    padding-top: 10px;
    font-family: fantasy;
    font-size: 20px;
    line-height: 1.3;
}

h3 {
    text-align: right;
    padding-bottom: 8px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h6 {
    color: red;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.btn {
    position: relative;
    left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    
}

.footer {
    padding-top: 10px;
    background-color: #cccccc;
}
